.body {
    box-sizing: border-box;
}

/* list user */
.ul-list {
    padding: 0;
    margin: 0;
}

.ul-list .li-list {
    border: 1px solid #eee;
}

.ul-list .li-list .id-list {
    width: 10%;
    border: 1px solid #eee;

}

.ul-list .li-list .user-list {
    width: 50%;
    border: 1px solid #eee;

}

.ul-list .li-list .salary-list {
    width: 20%;
    border: 1px solid #eee;

}

.ul-list .li-list .link  {
    width: 20%;
    border: 1px solid #eee;

}